
html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-font);
}

main {
    display: flex;
    justify-content: center;
}
#cvt-ctn {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 1em;
    padding: 0em 1em 1em 1em;
}
#cvt-header {
    display: flex;
    justify-content: flex-end;
    padding: .5em 0;
}
#settings-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid lightgray;
    background-color: transparent;
    padding: .3em;
}
#settings-btn:hover {
    background-color: whitesmoke;
}
#settings-btn:active {
    background-color: lightgray;
}
#cvt-settings {
    height: 0px;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    margin-bottom: 0.5em;
    transition: height 0.3s;
    overflow-y: clip;
}
.ctv-ctn-title {
    color: #0088ff;
    font-weight: lighter;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.settings-ctn {
    background-color: #f5f5f5ad;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0.1em;
}
.settings-ctn p {
    margin-block-start: .1em;
    color: #393939;
}
.settings-ctn label {
    color: #393939;
}
#cvt-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cvt-body section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#cvt-btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 2.8em 1em 1em 1em;
}

.cvt-body-raw {
    flex-direction: raw;
}
.cvt-body-raw-reverse {
    flex-direction: row-reverse;
}
@media (max-width: 500px) {
    #cvt-body {
        flex-direction: column;
    }
    #cvt-btn {
        margin: 1em 0em;
        transform: rotate(90deg)
    }
}
